.password-reset-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.password-reset-form {
    width: 260px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #eaecef;
    padding: 20px 20px 0;
}

.password-reset-form-button {
    width: 100%;
}