.ant-descriptions-title {
    text-align: center;
}

.ant-descriptions-item-content {
    background-color: #fafafa;
}

.my-details-page-wrapper {
    padding: 20px;
    border-radius: 5px;
    background-color: #f6f8fa;
    border: 1px solid #eaecef;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.buttons button {
    margin-right: 5px;
}