.user-details-edit-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-details-edit-form {
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #eaecef;
}

.user-details-edit-form-button {
    width: 100%;
}