.app-layout {
    height: 100vh;
    align-items: stretch;
}

.app-breadcrumbs {
    background: white;
}

.app-content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background: white;
}
.app-footer {
    text-align: center;
    background: #001529;
    color: white;
    padding: 15px 25px;
    font-size: 16px;
}