.auction-details-page-wrapper {
    width: 65%;
}

.auction-card {
    background: white;
    padding: 24px;
    display: flex;
    flex-direction: row;
}

.image-wrapper {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.image {
    cursor: pointer;
    width: unset;
    height: inherit
}

.ant-image-img {
    height: inherit;
}

.divider {
    margin-top: 8px;
    margin-bottom: 8px;
    border: 0;
    background: #ddd;
    height: 1px;
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: left;
    align-items: flex-start;
}

.main {
    line-height: 15px;
}

.countdown {
    display: flex;
    flex-direction: row;
}

.ant-statistic {
    display: flex;
    flex-direction: row;
}

.ant-statistic-title {
    color: black;
}

.ant-statistic-content {
    margin-left: 0.5em;
    font-size: 14px !important;
    font-weight: bold;
}

.bids {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.current-bid {
    display: flex;
    flex-direction: column;
}

.bid-number {
    margin-top: 20px;
}

.ant-input-number {
    width: 120px !important;
}

.extra {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.additional-info {
    background: white;
    padding: 24px;
    margin-top: 12px;
}

.ant-timeline-item-last {
    padding-bottom: 0;
}

.ant-timeline-item-last > .ant-timeline-item-content {
    min-height: unset;
}