.user-table-page-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ant-table-pagination {
    justify-content: center !important;
}

.ant-table-wrapper {
    width: 100%;
}

.user-table-button {
    margin-top: 10px;
}