.anticon {
    font-size: 20px !important;
    margin-right: 0px !important;
}

.menu-left-item {
    font-size: 15px;
}

.menu-right-item {
    font-size: 15px;
    float: right;
}

.menu-link {
    color: white !important;
}

.ant-dropdown-trigger {
    margin: auto;
}