* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

.auction-card {
    width: 60%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid rgba(218, 218, 218, 0.85);
    font-size: 14px;
    line-height: 1.75;
}

.image-wrapper {
    width: 30%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    padding: 0;
    border-top-left-radius: 10px;
}

.image-wrapper a {
    display: flex;
    width: 180px;
    height: 180px;
    justify-content: center;
    align-items: center;
}

img {
    object-fit: scale-down;
    object-position: 50% 50%;
    width: 100% !important;
    height: 100% !important;
}

.main {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 15px 2% 15px;
}

.main h1 {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 15px;
}

.main p {
    font-size: 14px;
    flex: 1 0 auto;
    text-align: left;
    margin-bottom: 0;
}

.aside {
    width: 30%;
    padding: 15px 2% 15px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

ul {
    list-style: none;
}

.current-price {
    display: flex;
    line-height: 1.75;
}

.current-price > span:nth-child(1) {
    display: inline-block;
    width: 60%;
    color: #939598;
}

.bids-number {
    display: flex;
    line-height: 1.75;
}

.bids-number > span:nth-child(1) {
    display: inline-block;
    width: 60%;
    color: #939598;
}